@font-face {
    font-family: 'Nebulove';
    src: url('https://raw.githubusercontent.com/lingyicute/Nebulove/main/Nebulove.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}